.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color:var(--text-color);
    
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  
  .navLink {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }
  
 
  