:root{
    --background-color: #ffff;
    --btn-color: #0987f2;
    --btn-text-color: #ffffff;
    --project-card-bg: #ffffff00;
    --text-color:#222;
    --form-text-color: #222;
    --footer-text-color:#888;
}

[data-theme='dark']{
    --background-color: #222;
    --btn-color: #0987f2;
    --btn-text-color: #222;
    --project-card-bg: #ffff;
    --text-color:#ffff;
    --form-text-color: #ffff;
    --footer-text-color:#888;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1,h2,h3,p{
    color: var(--text-color);
    margin: 0;
    padding:0;
}

h2,h3,p{
    font-family: 'Roboto Mono', monospace;
}

h1,h2{
    text-transform: uppercase;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p{
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle {
    margin-bottom: 30px;
  }
  
  .hover {
    cursor: pointer;
  }




